.navbar{
    border-bottom-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.nav-link{
}
.nav-link:hover{
    color: white;
}
.nav-link::after {
  content: '' !important;
  display: block !important;
  width: 0 !important;
  height: 2.4px !important;
  border-radius: 10000rem;
  background: black !important;
  transition: width .3s !important;
}
.nav-link:hover::after {
  width: 100% !important;
  transition: width .4s !important;
}
.turkishFlag{
    background: url("./images/TurkeyFlag.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 1.5rem;
}
.russianFlag{
    background: url("./images/RussiaFlag.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 1.5rem;
}
.mainBaslik{
    font-size: 3.2rem;
    color: #376db3;
    font-weight: bold;
    width: 100%;
}
.baslikAlt{
    font-size: 1.3rem;
}
.tgButton {
    background-color: #7097e1 !important;
    color: #fff;
    font-weight: bold;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 0.5rem;
    transition: transform 0.3s;
}
.tgButton:hover {
    color: #fff;
    transform: translateY(3px);
}
.igButton{
    background-color: #7097e1 !important;
    color: #fff;
    font-weight: bold;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 0.5rem;
    transition: transform 0.3s;
}
.igButton:hover{
    color: #fff;
    transform: translateY(3px);
}
.fa-telegram, .fa-instagram{
    font-size: 1.3rem !important;
}
.gradient-text {
    background: linear-gradient(to right, #6a8ed4, #d770a2, #e04466, #ff2d55);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: bold;
  }
  .rusEviButton{
    background-image: url("./images/rusevi.png") !important;
    background-position: 90% 50%; 
    background-size: 20%;
    background-repeat: no-repeat;
  }
  .rotateMat{
    transform: rotate(180deg);
  }
  .mainPageFirst{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 15px 0px;
  }